body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.home {
    background: url("images/car_engine.png");
    background-size: cover;
    display: flex;
}

#item1 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 1px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


#item2 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


#item3 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 150px; 
    left: 450px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


#item4 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 500px; 
    left: 450px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item5 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 150px; 
    left: 1165px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


#item6 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 500px; 
    left: 1165px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item7 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 440px; 
    left: 1105px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item8 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 190px; 
    left: 150px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item9 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 480px; 
    left: 165px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item10 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 330px; 
    left: 775px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item11 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 10px; 
    left: 885px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#item12 {
    width: 280px;
    height: 230px;
    background: white;
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50px; 
    left: 165px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


footer {
    text-align: center;
    margin-top: 30px;
}
